@media screen and (max-width: 1200px){
  header div.inner{
    flex-wrap: wrap;
  }
   header::before{
    display: none;
  }
  header .inner h1{
    order: 1;
  }
  header .inner ul.gnb{
    order: 3;
    width: 100%;
    justify-content: center;
  }
  header .inner ul.gnb::after{
    margin-top: 33px;
    z-index: -1;
  }
  header .inner ul.enb{
    order: 2;
  }
  /* 타이틀   */
   #title{
    min-height:36.45833333333333vw;
    height: 100vw;
  }
  #title form.search{
    width: 36.4583vw;
  /*     min-width: 70%; */
    height: 6vw;
    min-width: 600px;
  }
  #title form.search button{
    height: 6vw;
    width: 12vw;
    line-height: 1;
    margin-right: -5%;
  }
  #title ul.hash{
    gap: 10px;
    font-size: 12px;
   
  }
  #title span::before{
    width: 10px;
    height: 10px;
  }
  
  
  #title::before{
    width: 78.5416666vw;
    height: 20.20833333vw;
    margin-top: 3.125vw;
  }

  /* 빙그레 맛  */
  #taste .inner ul.list li{
    width: calc((100% / 3) - (50px / 3));
  }
  #taste .inner h2.h2{
    margin-top: 40px;
  }

 /* 브랜드   */
  #shop .innerPadding::before{
  /*     display: none; */
    font-size: 50px;
    top: 100px;
  }
  #shop .inner h2.h2{
    margin-bottom: 10px;
    margin-top: 40px;
  }
  #shop .inner ul.list{
    flex-wrap: wrap;
  }
  #shop .inner ul.list li{
    width: calc(100%/3 - 20px / 3);
    height: 250px;
  }
    /* 커뮤니티     */
  #community .inner > article{
    width: 90%;

  }
  #community .inner div{
    width: auto;
    gap: initial;
    border: 0;
    box-shadow: 0 0 0 transparent;
    row-gap: 50px;
  }
  #community .inner div article ul li{
    width: calc(100%);
  }

  #community .inner div article:not(.faq){
    width: calc(100%);
    }
  #community .inner div article.email{
    gap: 20px;
  }
  #community .inner div article.email{
  
  }
  #community .inner div article.telephone{

  }
}  
@media screen and (max-width:768px){   /* max-width 이하 미디어쿼리*/
  header::before{
    display: none;
  }
  header div.inner{
    margin-top: 0;
  }
  header .inner ul.gnb{
    display: none;
  }
  header .inner ul.tnb{
    display: none;
  }
  /* 타이틀   */
 #title{
    min-height:36.45833333333333vw;
    height: 100vw;
  }
  #title form.search{
    width: 36.4583vw;
    min-width: 70%;
    height: 7vw;
  }
  #title form.search button{
    height: 7vw;
    width: 12vw;
    line-height: 1;
    margin-right: -10%;
  }
  #title ul.hash{
    gap: 10px;
    font-size: 12px;
   
  }
  #title span::before{
    width: 10px;
    height: 10px;
  }
  
  
  #title::before{
    width: 78.5416666vw;
    height: 20.20833333vw;
    margin-top: 3.125vw;
  }
  #taste .inner ul.list li{
    width: calc((100% / 2) - (50px / 2));
  }
  #taste .inner h2.h2{
    margin-top: 40px;
  }
   /* 브랜드   */
  #shop .innerPadding::before{
    display: none;
  }
  #shop .inner h2.h2{
    margin-bottom: 10px;
    margin-top: 40px;
  }
  #shop .inner ul.list{
    flex-wrap: wrap;
  }
  #shop .inner ul.list li{
    width: calc(100%/2 - 10px / 2);
    height: 180px;
    
  }
  /* 커뮤니티     */
  #community .inner > article{
    width: 90%;
    flex-wrap: wrap;
    background-position: 110% 120%;
  }
  #community .inner div{
    width: calc(100%);
    gap: initial;
    border: 0;
    box-shadow: 0 0 0 transparent;
    padding: 10px;
  }
  #community .inner div article ul li{
    width: calc(100%);
    line-height: 1.5;
    padding: 10px 0;
    font-size: 15px;
  }
/*   #community .inner div article ul li:nth-child(n+2):nth-child(-n+3){
    line-height: 1.4;
  } */
  #community .inner div article:not(.faq){
    width: calc(100%);
    }
  #community .inner div article.email{
    gap: 20px;
  }
  #community .inner div article.email{
    background-position: 110% 120%;
    margin-top: 20px;
  }
  #community .inner div article.telephone{
    background-position: 110% 120%;
    margin-top: 20px;
  }
  
/* footer   */
  
  footer .inner{
    display: block;
    height: auto;
  }
  #footer .inner .left address{
    transform: translateY(0);
  }
  footer .inner .left {
    gap: 10px;
    margin-bottom: 20px;
  }
  footer .inner .right {
   align-items: flex-start;
    row-gap: 10px;
  }
  footer .inner .right .bottom{
    margin-top : 10px;
  }
  footer .inner .right div.bottom > a{
    font-size: 10px;
  }
  footer .inner .right div.bottom > a::after{
    display: none;
  }
}